.coding-section {
  padding: 40px;

}

.coding-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; 
}

.coding-text {
  flex: 2;   
  min-width: 300px;
  padding-right: 20px;
}

.coding-image {
  flex: 1;
  min-width: 250px;
  text-align: right;
}

.coding-image img {
  width: 250px;          
  height: auto;
  border-radius: 12px;    
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  border: 3px solid #399918; 
  transition: transform 0.3s ease; 
}

.coding-image img:hover {
  transform: scale(1.05);


}

@media (max-width: 768px) {
  .coding-container {
    flex-direction: column;
    text-align: center;
  }

  .coding-image {
    text-align: center;
  }
}




 .uni, .prim, .high {
  padding: 40px;
  background-color: #A3DC9A;
  border-top: 5px solid #A7D477;
  border-bottom: 5px solid #A7D477;
 color: #CF0F47;
}

.year-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.semester {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .year-row {
    flex-direction: column;
  }

.team {
  background-color: #FFF4F6;
  padding: 3rem 1rem;
}

