form {
    width:50%;
    margin: 0 auto;
    }

h1 {
    color: #021168;
}

input, select{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:80%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #8AA7CC;
    }

input[type=number], input[type="date"], textarea{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:75%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #667cff;
}

textarea {
    resize: none;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:80%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #667cff;
}

input[type=submit] {
    margin-bottom: 20px;
    width:85%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #667cff;
    background-color: #667cff;
    color: #021168;
    font-size:15px;
    cursor:pointer;
    margin-top: 10px;
    display: block;
    }

input[type=submit]:hover {
    background-color: #021168;
    color: #899aff;
    }
