body {
    background-color: white;
    font-family: 'Helvetica';
    font-size: 19px;
}


.head a.title {
    font-size: 45px;
    color: #1A237E;
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
}

.logo img {
  width: auto;
  height: auto;
    display: flex;
    align-items: left; 
    gap: 30px;           
    padding: 10px;
}

.contain {
    width: 100%;
    padding: 20px;
    text-align: center;
}


.info {

  display: flex;
  gap: 20px; 
	align-items: center;
	justify-content: center;
    text-decoration: none;
}


a.loca {
    text-decoration: none;
    color: inherit;
}


.topnav {
    background-color: #0F0066;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.logo {
    padding: 0px;
    padding-top: 4px;
}

.topnav a.right {
    float:right;
}

.topnav a:hover {
    background-color: #3F57DE;
    color: white;
}

.topnav a.active {
    background-color: #3200FF;
    color: white;
}



nav .topnav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}


main h1 {
    font-size: 48px;
}


footer {
    background-color: #0F0066;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
}
